.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: 520px;
  width: 290px;
  border: 2px solid wheat;
}

.card-top {
  /* border: 2px solid wheat; */
  height: 400px;
  width: 100%;
}
.card-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  /* border: 2px solid wheat; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.card-link {
  color: white;
}
